$intro-bg: #1c2431; // intro and email signup bg
$main-bg: #181f2a;
$footer-bg: #0b1523;
$testimonials-bg: #202a3c;
$cyan: #65e2d9;
$blue: #339ecc;
$gradient: linear-gradient(to right, $cyan, $blue);
$white: #fff;
